.productDetails{
	border: 1px #ddd solid;
	border-radius: 4px;
}
.price{
	font-weight: bold;
}
.etaDelivery{
	font-weight: bold;
}
.productDetails .btn{
	margin-bottom: 5px;
}

.container{
	margin-top: 25px;
}

.productView{
	border: 1px #ddd solid;
	margin-bottom: 5px;
}
.productView img{
	margin-bottom: 5px;
	border-radius: 4px;
	max-width: 100%;
}

.pagination a{
	border: 1px solid black;
	text-decoration: none;
}