.formInputs{
	width: 30%; 
	margin: auto;
}

.productDetails{
	border: 1px #ddd solid;
	border-radius: 4px;
}

.wishlistItem{
	margin-top:15px;
	border: 1px #ddd solid;
	border-radius: 4px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 5px;
}
.wishlistItem img{
	border-radius: 4px;
	box-shadow: 3px 3px 5px 6px #ccc;
}
.price{
	font-weight: bold;
}
.etaDelivery{
	font-weight: bold;
}
.productDetails .btn{
	margin-bottom: 5px;
}

.img-thumbnail{
	box-shadow: 3px 3px 5px 6px #ccc;
}
.wishlistItemLeft{
	width: 40%;
	float: left;
}
.wishlistItemRight{
	width: 40%;
	float: right;
}
.container{
	margin-top: 25px;
}

.productView{
	border: 1px #ddd solid;
	margin-bottom: 5px;
}
.productView img{
	margin-bottom: 5px;
	border-radius: 4px;
	max-width: 100%;
}

.pagination{
	width: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px; 
}

.pagination a, strong{
	border: 1px solid black;
	border-radius: 4px;
	text-decoration: none;
	background: #ddd;
	padding: 0 10px 0 10px;
	margin:  0 5px 0 5px;
}

#categorySort{
	width: 20%;
	float: right;
}

#indexProductHeader{
	width: 100%;
	display: inline-block;
}
#indexProductHeader form{
	width: 50%;
	float: right;
}
#indexProductHeader a{
	max-width: 50%;
	float: left;
	margin-top: 10px;
}
#indexHeader{
	font-size: 40;
}
#categoryApply{
	float: right;
	margin-right: 5px;
}

.productDetails, .productView{
	border-radius: 4px;
	box-shadow: 3px 3px 5px 6px #ccc;
}

/*Basket animation styles*/

.zoom{
	position: absolute;
	top: 40px;
	right: 50%;
	width: 40px;
	opacity: 0;
	animation: zoom 1s ease forwards;

}

@keyframes zoom{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0; right: 40px;}
}